@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">تماس با ما</div>
            <div class="card-body">
                <h4 class="card-title">سلام همراه گرامی</h4>
                <p class="card-text">بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند.</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3">به فروشگاه ما خوشامدید</h1>
            <p class="lead">این یک واحد قهرمان ساده است، یک جزء ساده به سبک جامبیترون برای توجه بیشتر به محتوای برجسته یا اطلاعات است.</p>
            <hr class="my-4">
            @* <p>از کلاس‌های ابزار برای تایپوگرافی و محاسبه فضای محتوا در ظرف بزرگ‌تر استفاده می کند.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
            </p> *@
        </div>
    </div>
</div>
