@using EShop.Models.Entities
@model (List<Product>, string)

@{
    ViewData["Title"] = Model.Item2.ToString();
}
<br />
<h1> دسته بندی @Model.Item2.ToString() </h1>

<hr />

<div class="row">
    @foreach (var item in Model.Item1)
    {
        <partial name="_BoxProduct" model="@item"></partial>
    }
</div>

